<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            Built_in_Filter
        </h1>
        <h2>
            {{dt|upper}}
         
        </h2>
        <h2>
            {{dt|lower}}
         
        </h2>

            <h2>
                {{dt|capfirst}}
             
            </h2>
            <h2>
                {{dt|title}}
             
            </h2>
            <h2>
                {{dt|length}}
             
            </h2>
            <h2>
                {{DT|date}}
             
            </h2>
            <h2>
                {{dt|truncatewords:'3'}}
             
            </h2>
            <h2>
                {{dt|slice:'15'}}
             
            </h2>
    </center>
</body>
</html>